<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ViewLogMapper">
    <insert id="insertViewLog" parameterType="model.ViewLog">
        INSERT INTO t_viewlog_00 (id, ipAddress, requestURL, params, sessionId, viewTime, visiter, spendTime)
        VALUES (#{id}, #{ipAddress}, #{requestURL}, #{params}, #{sessionId}, #{viewTime}, #{visiter}, #{spendTime});
    </insert>

    <select id="findViewLogByIp" parameterType="java.lang.String" resultType="model.ViewLog">
        SELECT id,visiter FROM t_viewlog_00 WHERE ipAddress=#{ipAddress} ORDER BY viewTime DESC LIMIT 1
    </select>

    <select id="findAllViewLogByIp"  parameterType="java.lang.String" resultType="model.ViewLog">
        SELECT * FROM t_viewlog_00 WHERE ipAddress=#{ipAddress}  ORDER BY viewTime
    </select>

    <select id="findAllViewLog"  resultType="model.ViewLog">
        SELECT * FROM t_viewlog_00
    </select>

    <select id="getRecentlyAttackViewLog" parameterType="java.util.Date"  resultType="model.ViewLog">
        SELECT ipAddress,COUNT(1)'count' FROM t_viewlog_00 WHERE viewTime>#{date} group by ipAddress HAVING count>500 order by count desc
    </select>

    <select id="findNeedBeUpdateIp" resultType="model.ViewLog">
         SELECT id,ipAddress FROM t_viewlog_00 WHERE ipMsg is null GROUP BY ipAddress ORDER BY id desc
    </select>

    <update id="updateIpMsg" parameterType="model.ViewLog">
        UPDATE t_viewlog_00 SET ipMsg='${ipMsg}' WHERE ipAddress=#{ipAddress}
    </update>

</mapper>